*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding:0;
    margin:0;
}
header{
    background-color: #4682B4 ;
    color: whitesmoke;
    padding-left: 25px;
    text-align: center;
    font-size: 18px;
    box-shadow: 2px 2px 5px black;
    padding-top: 10px;
    overflow: hidden;
}
header li{
    display: inline;
}

ul , ul li a{
    margin-left:50%;
    flex-wrap: wrap;
    justify-content:end;
    justify-content: space-evenly;
    font-size: x-large;
    color: whitesmoke;
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

h1:hover{
    text-shadow: 10px 10px 10px black;
}


a:hover{
    text-shadow: 10px 10px 10px black;
    font-weight: bold;
}

a:active{
    color:black;
}

.project-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
}

.projectimg{
    max-width: 250px;
    
}
.project-cards h3{
    background-color: #4682B4;
    padding: 10px;
    margin-top:-25px;
    max-width: 250px;
    
}

@media screen and (max-width: 755px) {
    ul, ul li a, .project-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: block;
        margin-left: 0%;

    }
}
