*{
    font-family: Arial, Helvetica, sans-serif;
}
/*Section 2.1 The Body*/
body{
    background-image: url(./images/background\ img.png);
}

#navLogo{
    max-height: 100%;
}

#myPicture{
    max-height: 100%;
}


/*Section 2.7 Media Query area*/
@media screen and (max-width: 1022px) {

}