*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding:0;
    margin:0;
}
header{
    background-color: #4682B4 ;
    color: whitesmoke;
    padding-left: 25px;
    font-size: 18px;
    box-shadow: 2px 2px 5px black;
    padding-top: 10px;
    overflow:hidden;
}
header li{
    display: inline;
}

ul , ul li a{
    margin-left:50%;
    flex-wrap: wrap;
    justify-content:end;
    justify-content: space-evenly;
    font-size: x-large;
    color: whitesmoke;
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

h1:hover{
    text-shadow: 10px 10px 10px black;
}


a:hover{
    text-shadow: 10px 10px 10px black;
    font-weight: bold;
}

a:active{
    color:black;
}
/*About me Section Starts here*/
#Aboutme h2{
    background-color: #4682B4;
    text-indent: 25px;
}

#Aboutme{
    display: inline-block;
}

#Aboutme p{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: max-content;
}


/*Project Cards Section Down Below*/
#project1, #project2, #project3, #project4, #project5, #project6 {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 100px;
    height: 100px;
    border: 6px solid #4682B4 ;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
}

#My-Work{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#My-Work:hover{
    opacity: 10px;
}

h3{
    background-color: #4682B4;
    margin-bottom: 35px;
    position: relative;
    top: 55px;
    right: 55px;

    
}
/**/

@media screen and (max-width: 755px) {
    ul, ul li a, .project-cards, header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: block;
        margin-left: 0%;
        text-align: center;

    }
}
